<div class="right-side-content-container" id="news-feed">
    <div class="side-panel-menu-content-header-container">
        <div class="side-panel-menu-content-header">
            <label class="side-panel-menu-content-header-title">News Feed</label>
        </div>
        <hr class="spacing-2px">
        <div class="side-panel-menu-content-body-container" style="overflow-y:auto;overflow-x:hidden;max-height:478px;">
            <table class="tale table-condensed table-hover width-100-percent">
                <tbody ng-repeat="newsfeed in newsFeedList">
                    <tr>
                        <td>{{$index + 1}}</td>
                        <td>{{newsfeed.Asset}} {{newsfeed.News}}<span class="pull-right">{{newsfeed.Time}}</span></td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>
</div>

