<div class="col-md-12" style="top: 20px;">
    <script type="text/ng-template" id="feedBackModal">
        <div class="modal-header modal-list-header">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
            <h3 class="modal-title">FeedBack</h3>
        </div>
        <div class="modal-body" style="height: 550px; overflow-y: auto; margin: 0 0 10px -6px;">
            <div>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeAY0geKEg81pHRsUY8-SZgpjGUEwpLAUfrRb-fhssI31xkgw/viewform?embedded=true" width="600" height="1550" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>                
            </div>
        </div>
    </script>
</div>