<div class="col-md-12" style="top: 20px;">
    <script type="text/ng-template" id="forgotPasswordModal">
        <div class="modal-header modal-list-header">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Forgot Password</h3>
        </div>
        <div class="modal-body" style="height: 100px;">
            <form id="send-email" ng-submit="sendEmail()">
                <table class="table table-condensed table-hover">
                    <tr>
                        <td>
                            Username
                        </td>
                        <td>
                            <input type="text" class="width-100-percent" ng-model="usernameForgot" />
                        </td>
                        
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button style="float:right;" type="submit" class="btn btn-xs btn-default trackpro-green-btn"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Send Email</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </script>
</div>